/*Images*/

#profile{
    width: 100%;
    max-width: 15vh;
    height: auto;
    object-fit: contain;
}
.content_img{
    width: 100%;
    max-width: 30vh;
    height: auto;
    object-fit: contain;
}
.icon{
    width: 100%;
    max-width: 5vh;
    height: auto;
    object-fit: contain;
}

#card{
    background-color: gray;
    display: grid;
    grid-template-rows: 50vh 20vh;
    grid-template-columns: 20vh 50vh;

    overflow: scroll;
    position: fixed;
    inset: 0px;

    width: 50vw;
    height: 80vh;
    max-width: 100vw;
    max-height: 100dvh;
    
    margin: auto;
    padding: 3%;
}
