* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 14px;

    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;
    padding: 20px;
}

#main {
    display: grid;
    background-color: #ebebeb;

    grid-template-areas:
    "header header"
    "profile about_me"
    "menu content"
    "footer footer";
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto auto 1fr auto;
    gap: 10px;

    width: min(75vh, 90vw);
    height: min(85vh, 90vh);

    border-radius: 5%;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    padding: 2%;
}

#tittle {
    grid-area: header;
    text-align: center;
}
#profile {
    grid-area: profile;
    display: flex;
    justify-content: center;
    align-items: center;
}
#about_me {
    grid-area: about_me;
}
#menu {
    grid-area: menu;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
#content {
    grid-area: content;
}
#footer {
    grid-area: footer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile_image {
    width: 15vh;
    border-radius: 8px;
}
.art {
    width: 30vh;
    border-radius: 8px;
}

#menu button {
    padding: 10px;
    border: 1px solid #999;
    background: white;
    border-radius: 4px;
    cursor: pointer;
}

#menu button h3 {
    font-size: 15px;
    margin: 0;
}

h1 { font-size: 25px; }
h2 { font-size: 20px; margin-bottom: 0.5em; }
h3 { font-size: 15px; }

#about_me p,
#content p {
    line-height: 1.4;
}

.icon {
    width: 3vh;
}
